// Famous & social media Colors
$facebook: #3b5998;
$twitter: #55acee;
$googleplus: #dd4b39;
$pinterest: #bd061e;
$instagram: #e23f5c;
$linkedin: #007bb5;
$github: #000000;
$snapchat: #fdfc02;
$reddit: #ff4500;
$youtube: #ff0000;
$whatsapp: #4dc247;
$quora: #a82400;
$dropbox: #007ee5;
$flickr: #ff0084;
$tumblr: #32506d;
$vk: #45668e;
$spotify: #00e461;
$behance: #1769ff;


:root {
  --primary-color-1: #0152A8;
  --primary-color-rgb-1: 1, 82, 168;
  --primary-color-2: #0FE3AF;
  --primary-color-rgb-2: 15, 227, 175;
  --primary-color-3: #004A99;
  --primary-color-rgb-3: 20, 52, 80;
  --secondary-color-1: #DCEDFE;
  --secondary-color-2: #E5F2EF;
  --secondary-color-3: #F1F1F1;
}