@import "../../../styles/mixins.scss";

.doctors {
  padding: 120px 0 150px;
  background-color: var(--primary-color-1);

  .head_meta {
    margin-bottom: 70px;
    position: relative;

    .sub_title {
      letter-spacing: 6px;
      color: #fff;
      text-transform: uppercase;
      width: fit-content;
      margin: 0 0 20px;
      padding: 4px 12px;
      border: 1px solid #dbdbdb;
      font-size: 14px;

      @include sm {
        margin: 0 auto 20px;
        font-size: 13px;
        letter-spacing: 4px;
        padding: 3px 10px;
      }
    }

    h3 {
      color: #fff;
      width: fit-content;

      @include sm {
        margin: 0 auto 20px;
      }
    }

    button {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-top: 50px;
      padding: 17px 40px;
      border: 1px solid transparent;
      color: var(--primary-color-1);

      @include md {
        padding: 12px 30px;
      }

      @include sm {
        display: none;
      }

      &:hover {
        background-color: var(--primary-color-1);
        color: #fff;
        border-color: #fff;
      }
    }
  }

  .doctor {
    background-color: var(--primary-color-3);
    padding: 30px;
    border: 1px solid var(--primary-color-3);
    transition: border-color 0.3s ease;

    &:hover {
      border-color: var(--primary-color-2);
    }

    img {
      width: 100%;
      border: 1px solid var(--primary-color-3);
      transition: border-color 0.3s ease;
      cursor: pointer;

      &:hover {
        border-color: var(--primary-color-2);
      }
    }

    .name {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      color: #fff;
      margin: 25px 0 15px;
      cursor: pointer;
    }

    .position {
      text-align: center;
      font-size: 20px;
      color: #fff;
      font-weight: 100;
      margin: 15px 0 20px;
    }

    .icons {
      color: #fff;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      i {
        cursor: pointer;

        &:hover {
          color: var(--primary-color-2);
        }
      }
    }
  }

  .numbers {
    margin-top: 100px;
    padding-top: 80px;
    border-top: 1px solid #2F85E1;
    text-align: center;

    .number {
      color: #fff;
      font-size: 50px;
      font-weight: bold;
    }

    .title {
      margin: 30px auto 0;
      letter-spacing: 5px;
      color: #f9f9f9;
      text-transform: uppercase;
      width: fit-content;
      padding: 5px 15px;
      border: 1px solid #2F85E1;
      font-size: 15px;
      font-weight: 300;
    }
  }
}