@import "../../../styles/mixins.scss";

.footer {
  margin: 50px;

  @include sm {
    margin: 0;
  }

  .content {
    padding: 90px 0;
    background: url('/images/footer-bg.png');
    background-position: center center;
    background-size: cover;

    .topbar {
      display: flex;
      justify-content: space-between;

      .icons {
        display: flex;
        gap: 30px;

        .icon {
          display: flex;
          align-items: center;
          gap: 10px;

          i {
            color: var(--primary-color-1);
            background-color: var(--primary-color-2);
            padding: 13px;
            border-radius: 50%;
          }

          p {
            color: #1C1C1C;
          }
        }
      }
    }

    .links {
      margin-top: 15px;
      padding: 35px 0;

      .words {
        max-width: 70%;
        font-size: 32px;
        line-height: 45px;
        font-weight: 600;
        color: #1C1C1C;
      }

      h5 {
        margin-bottom: 15px;
        font-weight: bold;
      }

      ul {
        li {
          margin: 10px 5px;

          a {
            color: #545454;
            font-size: 15px;
          }
        }
      }

      input {
        padding: 17px 30px;
        width: 100%;
        display: block;
        margin-top: 16px;
        margin-bottom: 16px;

        &::placeholder {
          color: #B9B9B9;
        }
      }

      button {
        background-color: var(--primary-color-1);
        color: #fff;
        padding: 17px 40px;

        &:hover {
          background-color: var(--primary-color-2);
          color: #000;
        }
      }
    }
  }

  .copyright {
    padding: 10px 0;
    text-align: center;

    p {
      color: #1c1c1c;
    }
  }

}